[Unit]
Description=Prometheus
Requires=docker.service
After=docker.service

[Service]
EnvironmentFile=/etc/default/wp_monitoring
ExecStartPre=-/usr/bin/docker pull sai/prometheus
ExecStart=/usr/bin/docker run --rm -p 9090:9090 -v ${wp_monitoring}/data:/prometheus/data -v ${wp_monitoring}/prometheus:/wp_monitoring/ \
 --network=wp_monitoring \
 --name sai \
 sai/prometheus --config.file=/wp_monitoring/prometheus.yml \
 --web.console.templates=/usr/share/prometheus/consoles --web.console.libraries=/etc/prometheus/console_libraries
RestartSec=10
Restart=on-failure

[Install]
WantedBy=multi-user.target
